# Database
SPRING_DATASOURCE_URL=your_rds_location
DB_NAME=your_database_name
DB_PW=your_database_password

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT
JWT_SECRET=your_32byte_base64_secret_key